In [7]:
# Import our dependencies
import pandas as pd
from path import Path
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import tensorflow as tf

In [8]:
# Import our clean dataset
file_path = Path("clean_data/combined_olympic_data.csv")
df = pd.read_csv(file_path)
df.head(10)

,country_name,population,gdp_per_capita,human_development_index,gender_inequality_index,corruption_perceptions_index,total
0,Afghanistan,33370794,613.856689,0.465,0.676,12,1
1,Albania,2889104,4578.631994,0.733,0.267,33,0
2,United Arab Emirates,9214175,43751.838890,0.835,0.247,70,0
3,Argentina,42669500,12334.798250,0.836,0.364,34,4
4,Armenia,2912403,3986.231624,0.733,0.299,37,2
5,Australia,23475686,62510.791170,0.935,0.123,80,38
6,Austria,8546356,51717.495940,0.885,0.083,72,17
7,Azerbaijan,9535079,7891.313147,0.751,0.330,29,9
8,Burundi,9844297,274.857948,0.400,0.483,20,0
9,Belgium,11209057,47700.540360,0.890,0.076,76,3

In [9]:
# Drop the non-beneficial ID columns
df = df.drop(columns=["gdp_per_capita","corruption_perceptions_index", "gender_inequality_index"])
df.head()

           country_name  population  human_development_index  total
0           Afghanistan    33370794                    0.465      1
1               Albania     2889104                    0.733      0
2  United Arab Emirates     9214175                    0.835      0
3             Argentina    42669500                    0.836      4
4               Armenia     2912403                    0.733      2

In [10]:
df = df.set_index("country_name",drop=True)
df.head()

                      population  human_development_index  total
country_name
Afghanistan             33370794                    0.465      1
Albania                  2889104                    0.733      0
United Arab Emirates     9214175                    0.835      0
Argentina               42669500                    0.836      4
Armenia                  2912403                    0.733      2

In [11]:
new_df = df.rename(columns={"total": "count_of_medals"})
new_df.head()

                      population  human_development_index  count_of_medals
country_name
Afghanistan             33370794                    0.465                1
Albania                  2889104                    0.733                0
United Arab Emirates     9214175                    0.835                0
Argentina               42669500                    0.836                4
Armenia                  2912403                    0.733                2

### Split our preprocessed data into our features and target arrays

In [12]:
# Create our target
y = new_df["count_of_medals"].values

In [13]:
# Create our features
X = new_df.drop(["count_of_medals"], axis=1).values

In [14]:
# Splitting data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=15)

In [15]:
# Preprocess numerical data for neural network

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.000

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)